/* PROCUCTOS LISTA DE LA COMPRA */

.lista-compra{
    border: 2px solid red;
    padding: 20px 20px 100px;
}



/* PRODUCTO INFO */

.producto-lista{
    border-radius: 10px;
    box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.25);
    margin-top: 20px;
    padding: 10px 15px;
}

.info-producto{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.estado-compra{
    display: flex;
    align-items: center;
}

.estado-compra input[type="radio"]{
    width: 18px;
    height: 18px;
    margin: 0 5px;
}

.info-producto .tag.mercado{
    margin-right: auto;
}





/* ------------------------------------------------------- */


/* LISTA PRODUCTOS */



.lista-productos{
    overflow-x: scroll;
}


/* ----------------------------------------------- */