/* PROCUCTOS LISTA DE LA COMPRA */

.lista-compra{
    border: 2px solid red;
    padding: 20px 20px 100px;
}



/* PRODUCTO INFO */

.producto-lista{
    border-radius: 10px;
    box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.25);
    margin-top: 20px;
    padding: 10px 15px;
}

.info-producto{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.estado-compra{
    display: flex;
    align-items: center;
}

.estado-compra input[type="radio"]{
    width: 18px;
    height: 18px;
    margin: 0 5px;
}

.info-producto .precio{
    margin: 0 5px;
    width: 50px;
}

.info-producto .tag.mercado{
    margin-right: auto;
}




/* TAGS */

.tag{
    font-size: 15px;
    border-radius: 25px;
    padding: 2px 10px 3px;
    width: fit-content;
    height: min-content;
}
.tag.Mercadona{
    background-color: #229e6b;
    color: white;
}
.tag.Lidl{
    background-color: #fff000;
}
.tag.Dia{
    background-color:#c8030f;
}
.tag.Carrefour{
    background-color: #00529c;
}
.tag.Aldi{
    background-color: #00b6ed;
}
.tag.HuaLian{
    background-color: #009b4d;
}
.tag.importante{
    background-color: rgb(240, 204, 73);
}
.tag.ok{
    background-color: rgb(158, 194, 241);
}
.tag.opcional{
    background-color: rgb(248, 143, 143);
}
.tag.basico{
    background-color: gray;
    color: white;
}

/* ------------------------------------------------------- */


/* LISTA PRODUCTOS */



.lista-productos{
    overflow-x: scroll;
}


/* ----------------------------------------------- */