*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,form,input,button,select{
  font-family: "Montserrat", sans-serif;
  background-color: rgb(32, 37, 56);
  color: white;
}

a{
  text-decoration: none;
  color: inherit;
}



/* FONT SIZE */

h2{
  font-size: 30px;
}

h3{
  font-size: 20px;
}

h4{
  font-weight: 400;
  font-size: 18px;
}

input,select{
  font-size: 16px;
}

.precio{
  font-weight: 500px;
  font-size: 16px;
}

.mensaje-error{
  font-size: 12px;
  position: absolute;
  color: red;
}


.mensaje-aviso{
  font-size: 9px;
  margin-bottom: 5px;
}





/* ---------------------------------------------------------------------------------------------------- */

/* HEADER */

header{
  width: 100vw;
  padding: 25px;
  border: 2px solid red;
}

header .title{
  font-size: 40px;
}




/* MENU ---------------------------------------------------------------------------------- */

.menu{
  margin: 25px;
  border: 2px solid blue;
  height: max-content;
}

.menu ul{
  display: flex;
  align-items: center;
}

.menu ul li{
  list-style: none;
}

.menu ul li:not(:last-child){
  border-right: 1px solid black;
}

.menu .clicked{
  background-color: grey;
}

.menu-link{
  padding: 10px 25px;
  text-decoration: none;
  color: white;
  display: block;
}

.menu-link:hover{
  background-color: rgb(223, 223, 223);
}

.menu-link.clicked{
  background-color: grey;
  color: white;
}





/* ----------------------------------------------------------------------------------------------- */

/* SECCIONES GENERALES */

.nav-blur{
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.344);
  backdrop-filter: blur(3px);
  z-index: 1;
  position: fixed;
}

.nav-blur.segundo-popup{
  background: none;
}

.tap-fuera{
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: -1;
}

.pop-up{
  animation-name: popup;
  animation-duration: 0.4s;
}

.pop-out{
  animation-name: popout;
  animation-duration: 0.4s;
}

@keyframes popup{
  from{
      transform: scale(0)
  }
  to{
      transform: scale(1);
  }
}

@keyframes popout{
  from{
      transform: scale(1)
  }
  to{
      transform: scale(0);
  }
}





/* ------------------------------------------------------------------------------------------ */

/* TAGS */

.tag{
  color: rgba(255, 255, 255, 0.6);
  font-size: 15px;
  border-radius: 25px;
  padding: 2px 10px 3px;
  width: fit-content;
  height: min-content;
  box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.25);
  font-weight: 500;
}
.tag.Mercadona{
  background-color: #229e6b;
  color: rgba(0, 0, 0, 0.75);
}
.tag.Lidl{
  background-color: #fff000;
  color: black;
}
.tag.Dia{
  background-color:#c8030f;
}
.tag.Carrefour{
  background-color: #00529c;
}
.tag.Aldi{
  background-color: #00b6ed;
  color: black;
}
.tag.HuaLian{
  background-color: #009b4d;
  color: black;
}
.tag.importante{
  background-color: rgb(240, 204, 73);
  color: black;
}
.tag.ok{
  background-color: rgb(158, 194, 241);
  color: black;
}
.tag.opcional{
  background-color: rgb(240, 107, 107);
  color: black;
}
.tag.basico{
  background-color: gray;
  color: white;
}

.tag-precio{
  margin: 0 5px;
  width: 50px;
}





/* ---------------------------------------------------------------------------------------------- */

/* BOTONES */

.boton{
  -webkit-appearance: none;
  appearance: none;
  border: none;
  margin: 0 10px;
  font-weight: 500;
}

.boton-icono{
  appearance: none;
  -webkit-appearance: none;
  border: none;
  background: none;
}

/* SUBMIT */
.boton.submit{
  background-color: rgb(115, 212, 115);
  padding: 5px 10px;
  border-radius: 25px;
}

/* CANCELAR */
.boton.cancelar{
  background:none;
  color:red;
  text-decoration: underline;
}

/* EDITAR */
.boton.editar{
  background: none;
  padding: 5px 10px;
  display: flex;
  align-items: center;
  font-size: 15px;
  text-decoration: underline;
  font-weight: 400;
}

.boton.editar svg{
  margin-right: 2px;
  width: 18px;
  height: 18px;
}

/* BORRAR */
.boton-icono.borrar{
  color: rgba(255, 255, 255, 0.6);
}

/* CERRAR */
.boton-icono.cerrar{
  margin-right: auto;
  width: 25px;
  height: 25px;
}

/* AÑADIR */
.boton-icono.add{
  display: flex;
  align-items: center;
  font-size: 16px;
}
.boton-icono.add svg{
  width: 18px;
  height: 18px;
  margin-right: 5px;
  margin-bottom: 2px;
}

/* SUBIR */
.boton-icono.subir{
  color: white;
  width: 20px;
  height: 20px;
  margin: 0 10px;
}

/* ACEPTAR */
.boton-icono.aceptar{
  color: white;
  width: 25px;
  height: 25px;
  margin: 0 10px;
}

/* MOSTRAR */
.boton-icono.mostrar{
  display: flex;
  align-items: center;
}

.boton-icono.flecha{
  width: 25px;
  height: 25px;
  margin: 5px;
}



/* ---------------------------------------------------------------------------------------------- */

/* ICONOS */

.icono-add{
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.50);
  backdrop-filter: blur(3px);
  box-shadow: 0px 2px 10px 0 rgba(0, 0, 0, 0.10);
  cursor: pointer;
  position: fixed;
  right: 30px;
  bottom: 70px;
}

.icono-add svg{
  width: 35px;
  height: 30px;
  padding-top: 4px;
  color: white;
}


.icono-estado{
  width: 24px;
  height: 24px;   
}

.icono-editar{
  width: 18px;
  height: 18px;
  color: rgba(255, 255, 255, 0.6);
}