@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,form,input,button,select{
  font-family: "Montserrat", sans-serif;
  background-color: rgb(32, 37, 56);
  color: white;
  overflow-x: hidden;
}

a{
  text-decoration: none;
  color: inherit;
}



/* Scrollbar */

::-webkit-scrollbar {
  width: 3px;
  height: 3px;
}
::-webkit-scrollbar-track {
  background: #ffffff5a;
}
::-webkit-scrollbar-thumb {
  background: rgb(142, 160, 236);
}
::-webkit-scrollbar-thumb:hover {
  background: rgb(178, 193, 255);
}


/* FONT SIZE */

h4{
  font-weight: 400;
}

.precio{
  font-weight: 500px;
}

.mensaje-error{
  position: absolute;
  color: red;
}

.tag{
  font-weight: 500;
}




/* MEDIA QUERIES -------------------------------------------------------------------------------------------- */

/* PANTALLA PEQUEÑA ------------------------------------------------------------- */

  @media screen and (min-width:781px){

    /* Títulos ---------------------------------------- */

    header .title{
      font-size: 45px;
    }

    .menu-link{
      font-size: 18px;
    }

    h2{
      font-size: 34px;
    }
    
    h3{
      font-size: 22px;
    }

    .productos-row.heading.single-number h3{
      font-size: 16px;
    }

    h4{
      font-size: 20px;
    }

    .resumen .precio h5{
      font-size: 18px;
      margin-bottom: 5px;
    }

    .resumen .single-number h5{
      font-size: 14px;
      margin-bottom: 5px;
    }

    .tab-frecuencia h5{
      font-size: 15px;
    }



    /* Input ---------------------------------------- */

    input,select{
      font-size: 16px;
    }
    option{
      font-size: 14px;
    }

    .filtro-texto input{
      font-size: 16px;
    }



    /* Texto --------------------------------------- */
    
    .productos-cont{
      font-size: 17px;
    }
    
    .campo-nombre{
      margin-bottom: 5px;
      font-size: 16px;
    }

    .resumen .precio{
      font-size: 22px;
    }

    .resumen .single-number p{
      font-size: 20px;
    }

    .producto-lista .precio{
      font-size: 22px;
    }

    .mensaje-error{
      font-size: 12px;
      bottom: -15px;
    }

    .mensaje-aviso{
      font-size: 11px;
      margin-bottom: 5px;
    }



    /* Tags y botones ------------------------------- */

    .tag{
      font-size: 15px;
    }

    .boton.cancelar{
      font-size: 15px;
    }

    .boton.editar{
      font-size: 16px;
    }

    .boton.submit{
      font-size: 16px;
    }

    .boton-icono.mostrar{
      font-size: 14px;
    }

    .boton-icono.add{
      font-size: 16px;
    }
  }





/* TABLET ----------------------------------------------------- */
  @media screen and (max-width:781px){

    /* Títulos ---------------------------------------- */

    header .title{
      font-size: 40px;
    }

    .menu-link{
      font-size: 18px;
    }

    h2{
      font-size: 34px;
    }
    
    h3{
      font-size: 20px;
    }

    .productos-row.heading.single-number h3{
      font-size: 14px;
    }

    h4{
      font-size: 18px;
    }

    .resumen .precio h5{
      margin-bottom: 0;
      font-size: 16px;
    }

    .resumen .single-number h5{
      margin-bottom: 3px;
      font-size: 12px;
    }

    .tab-frecuencia h5{
      font-size: 13px;
    }



    /* Input ---------------------------------------- */

    input,select{
      font-size: 16px;
    }
    option{
      font-size: 14px;
    }

    .filtro-texto input{
      font-size: 16px;
    }



    /* Texto --------------------------------------- */
    
    .productos-cont{
      font-size: 16px;
    }
    
    .campo-nombre{
      margin-bottom: 2px;
      font-size: 16px;
    }

    .resumen .precio{
      font-size: 22px;
    }

    .resumen .single-number p{
      font-size: 20px;
    }

    .producto-lista .precio{
      font-size: 20px;
    }

    .mensaje-error{
      font-size: 12px;
      bottom: -15px;
    }

    .mensaje-aviso{
      font-size: 10px;
      margin-bottom: 5px;
    }



    /* Tags y botones ------------------------------- */

    .tag{
      font-size: 15px;
    }

    .boton.cancelar{
      font-size: 14px;
    }

    .boton.editar{
      font-size: 16px;
    }

    .boton.submit{
      font-size: 16px;
    }

    .boton-icono.mostrar{
      font-size: 14px;
    }

    .boton-icono.add{
      font-size: 14px;
    }
  }




/* MÓVIL ----------------------------------------------------------- */

  @media screen and (max-width:400px){

    /* Títulos ---------------------------------------- */

    header .title{
      font-size: 40px;
    }

    .menu-link{
      font-size: 16px;
    }

    h2{
      font-size: 30px;
    }
    
    h3{
      font-size: 20px;
    }

    .productos-row.heading.single-number h3{
      font-size: 14px;
    }

    h4{
      font-size: 18px;
    }

    .resumen .precio h5{
      margin-bottom: 0;
      font-size: 16px;
    }

    .resumen .single-number h5{
      margin-bottom: 2px;
      font-size: 12px;
    }

    .tab-frecuencia h5{
      font-size: 13px;
    }



    /* Input ---------------------------------------- */

    input,select{
      font-size: 16px;
    }
    option{
      font-size: 14px;
    }

    .filtro-texto input{
      font-size: 16px;
    }



    /* Texto --------------------------------------- */
    
    .productos-cont{
      font-size: 16px;
    }
    
    .campo-nombre{
      margin-bottom: 0;
      font-size: 16px;
    }

    .resumen .precio{
      font-size: 22px;
    }

    .resumen .single-number p{
      font-size: 16px;
    }

    .producto-lista .precio{
      font-size: 20px;
    }

    .mensaje-error{
      font-size: 12px;
      bottom: -15px;
    }

    .mensaje-aviso{
      font-size: 9px;
      margin-bottom: 5px;
    }



    /* Tags y botones ------------------------------- */

    .tag{
      font-size: 15px;
    }

    .boton.cancelar{
      font-size: 14px;
    }

    .boton.editar{
      font-size: 15px;
    }

    .boton.submit{
      font-size: 16px;
    }

    .boton-icono.mostrar{
      font-size: 14px;
    }

    .boton-icono.add{
      font-size: 14px;
    }
  }










/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */




/* HEADER ----------------------------------------------------------------------- */

header{
  width: 100vw;
  position: relative;
}


.logo{
  position: absolute;
}



/* MEDIA QUERIES ------------------------------------------ */

/* MONITOR ---------------------------------- */

@media screen and (min-width:1629px){
  header{
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 80px 0 50px;
  }
  .logo{
    position: relative;
    width: 100px;
    margin-right: 30px;
  }
}




/* PANTALLA GRANDE ---------------------------------- */

  @media screen and (max-width:1629px){
    header{
      padding: 80px 220px 50px;
    }
    .logo{
      width: 100px;
      left: 90px;
      top: 55px;
    }
  }





/* PANTALLA PEQUEÑA ---------------------------------- */

  @media screen and (max-width:1275px){
    header{
      padding: 60px 80px 30px;
    }

    .logo{
      width: 100px;
      left: -60px;
      top: 35px;
    }
  }




/* TABLET ----------------------------- */

  @media screen and (max-width:781px){
    header{
      padding: 50px 60px 35px;
    }

    .logo{
      width: 90px;
      left: -55px;
      top: 30px;
    }
  }



  @media screen and (max-width:503px){
    .logo{
      position: absolute;
      width: 90px;
      left: -55px;
      top: 50px;
    }
  }





/* MOVIL --------------------------------------- */

  @media screen and (max-width:400px){
    header{
      padding: 40px 50px 20px;
    }

    .logo{
      position: absolute;
      width: 90px;
      left: -55px;
      top: 40px;
    }
  }
  






/* --------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */






/* MENU -------------------------------------------------------------------------- */

.menu{
  height: max-content;
}

.menu ul{
  display: flex;
  align-items: center;
  height: fit-content;
}

.menu ul li{
  list-style: none;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu ul li.gasto{
  border-left: 1px solid rgb(255, 255, 255);
  border-right: 1px solid rgb(255, 255, 255);
}

.menu .clicked{
  background-color: rgb(41, 47, 72);
}

.menu-link{
  text-align: center;
  text-decoration: none;
  color: white;
  display: block;
}

.menu-link:hover{
  background-color: rgb(223, 223, 223);
}

.menu-link.clicked{
  background-color: grey;
  color: white;
}




/* MEDIA QUERIES ----------------------------------------------------- */

/* MONITOR GRANDE --------------------------------------------- */

@media screen and (min-width:1629px){

  .menu{
    width: 100vw;
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
  }

}




/* PANTALLA GRANDE --------------------------------------------- */

  @media screen and (max-width:1629px){

    .menu{
      margin: 0 110px 50px;
    }

  }




/* PANTALLA PEQUEÑA --------------------------------------------- */

  @media screen and (max-width:1275px){

    .menu{
      margin: 0 70px 50px;
    }
 
  }




  @media screen and (min-width:781px){
        
    .menu ul li{
      height: 50px;
    }

    .menu-link{
      padding: 10px 40px;
    } 
  }




/* TABLET ------------------------------------ */

  @media screen and (max-width:781px){

    .menu{
      margin: 0 50px 50px;
    }
    
    .menu ul li{
      height: 50px;
    }

    .menu-link{
      padding: 10px 30px;
    }  

  }




/* MÓVIL -------------------------------------------- */

  @media screen and (max-width:400px){

    .menu{
      margin: 0 20px 30px;
    }
    
    .menu ul li{
      height: 60px;
    }

    .menu-link{
      padding: 10px 30px;
    }  

  }







/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */




/* SECCIONES GENERALES */

.nav-blur{
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.344);
  backdrop-filter: blur(3px);
  z-index: 2;
  position: fixed;
}

.nav-blur.segundo-popup{
  background: none;
}

.tap-fuera{
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: -1;
}

.pop-up{
  animation-name: popup;
  animation-duration: 0.4s;
}

.pop-out{
  animation-name: popout;
  animation-duration: 0.3s;
}

@keyframes popup{
  from{
      transform: scale(0)
  }
  to{
      transform: scale(1);
  }
}

@keyframes popout{
  from{
      transform: scale(1)
  }
  to{
      transform: scale(0);
  }
}





/* ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */






/* TAGS --------------------------------------------------------------------- */

.tag{
  color: rgba(255, 255, 255, 0.6);
  border-radius: 25px;
  width: fit-content;
  height: min-content;
  box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.25);
}



/* MERCADOS */
.tag.Mercadona{
  background-color: #229e6b;
  color: rgba(0, 0, 0, 0.75);
}
.tag.Lidl{
  background-color: #fff000;
  color: black;
}
.tag.Dia{
  background-color:#c8030f;
}
.tag.Carrefour{
  background-color: #00529c;
}
.tag.Aldi{
  background-color: #00b6ed;
  color: black;
}
.tag.HuaLian{
  background-color: #009b4d;
  color: black;
}


/* PRIORIDAD */
.tag.importante{
  background-color: rgb(240, 204, 73);
  color: black;
}
.tag.ok{
  background-color: rgb(158, 194, 241);
  color: black;
}
.tag.opcional{
  background-color: rgb(240, 107, 107);
  color: black;
}


/* TIPOS */
.tag.basico,.tag.otro{
  background-color: gray;
  color: white;
}
.tag.queso{
  background-color: rgb(226, 198, 70);
  color: black;
}
.tag.verdura{
  background-color: green;
}
.tag.carne{
  background-color: #c2535a;
}
.tag.fruta{
  background-color: rgb(219, 164, 86);
  color: black;
}
.tag.especias{
  background-color: rgb(125, 53, 31);
}
.tag.frito{
  background-color: rgb(216, 216, 112);
  color: black;
}
.tag.salsa{
  background-color: brown;
}
.tag.casa{
  background-color: rgb(117, 69, 27);
}
.tag.limpieza{
  background-color: rgb(80, 174, 174);
  color: black;
}
.tag.frutos.secos{
  background-color: #846947;
}



/* FRECUENCIA */
.tag.mensual{
  background-color: rgb(108, 185, 236);
  color: black;
}
.tag.ocasional{
  background-color: rgb(227, 175, 80);
  color: black;
}







/* -------------------------------------------------------------------------------------------------------------------------------------------------------------- */





/* BOTONES ---------------------------------------------------------------------------- */

.boton{
  -webkit-appearance: none;
  appearance: none;
  border: none;
  font-weight: 500;
}

.boton-icono{
  appearance: none;
  -webkit-appearance: none;
  border: none;
  background: none;
}


/* SUBMIT --------------------------------------------- */
.boton.submit{
  background-color: rgb(115, 212, 115);
  border-radius: 25px;
}


/* CANCELAR ------------------------------------------- */
.boton.cancelar{
  background:none;
  color:red;
  text-decoration: underline;
}


/* EDITAR --------------------------------------------- */
.boton.editar{
  background: none;
  display: flex;
  align-items: center;
  text-decoration: underline;
  font-weight: 400;
}


/* BORRAR -------------------------------------------- */
.boton-icono.borrar{
  color: rgba(255, 255, 255, 0.6);
}


/* CERRAR -------------------------------------------- */
.boton-icono.cerrar{
  margin-right: auto;
}


/* AÑADIR --------------------------------------------- */
.boton-icono.add{
  display: flex;
  align-items: center;
}


/* SUBIR ---------------------------------------------- */
.boton-icono.subir{
  color: white;
}


/* ACEPTAR -------------------------------------------- */
.boton-icono.aceptar{
  color: white;
}


/* MOSTRAR -------------------------------------------- */
.boton-icono.mostrar{
  display: flex;
  align-items: center;
}





/* -------------------------------------------------------------------------------------------------------------------------------------------------------- */



/* ICONOS ------------------------------------------------------------------------------------------ */

.icono-add{
  z-index: 1;
  border-radius: 50%;
  background: radial-gradient(circle, rgba(20,32,77,0.7) 20%, rgba(255,255,255,0.25) 100%);
  /* background-color: rgba(255, 255, 255, 0.50); */
  backdrop-filter: blur(3px);
  cursor: pointer;
  position: fixed;
}

.icono-add svg{
  color: white;
}

.icono-editar{
  color: rgba(255, 255, 255, 0.6);
}




/* MEDIA QUERIES --------------------------------------------------------------------------- */

/* PANTALLA PEQUEÑA -------------------------------------------------------- */

  @media screen and (min-width:781px){

    /* Tag ------------------------------------------------------------------------- */
    .tag{
      padding: 2px 10px 3px;
    }



    /* Botones --------------------------------------------------------------------- */

    .boton{
      margin-left: 20px;
    }

    .boton.submit{
      padding: 5px 10px;
    }

    .boton.editar{
      padding: 5px 15px 15px;
    }
    .boton.editar svg{
      margin-right: 5px;
      width: 18px;
      height: 18px;
    }

    .boton-icono.cerrar{
      width: 28px;
      height: 28px;
    }

    .boton-icono.borrar{
      width: 20px;
      height: 20px;
    }

    .opcion-propiedad .boton-icono.borrar{
      width: 18px;
      height: 18px;
    }

    .boton-icono.add svg{
      width: 18px;
      height: 18px;
      margin-right: 5px;
      margin-bottom: 2px;
    }

    .boton-icono.subir{
      width: 25px;
      height: 25px;
      margin: 0 15px;
    }

    .boton-icono.aceptar{
      width: 28px;
      height: 28px;
      margin: 0 15px;
    }

    .boton-icono.flecha{
      width: 25px;
      height: 25px;
      margin: 5px;
    }




    /* Iconos ---------------------------------------------------------------------- */

    .icono-add{
      padding: 8px;
      right: 80px;
      bottom: 80px;
      width: 40px;
      height: 40px;
      box-shadow: 0px 2px 10px 0 rgba(0, 0, 0, 0.10);
    }

    .icono-estado{
      width: 30px;
      height: 30px;   
    }

    .icono-editar{
      width: 20px;
      height: 20px;
      margin-bottom: 2px;
    }
  }





/* TABLET ------------------------------------------------ */

  @media screen and (max-width:781px){

    /* Tag ------------------------------------------------------------------------- */
    .tag{
      padding: 2px 10px 3px;
    }



    /* Botones --------------------------------------------------------------------- */

    .boton{
      margin-left: 20px;
    }

    .boton.submit{
      padding: 5px 10px;
    }

    .boton.editar{
      padding: 5px 20px 15px;
    }
    .boton.editar svg{
      margin-right: 2px;
      width: 18px;
      height: 18px;
    }

    .boton-icono.cerrar{
      width: 25px;
      height: 25px;
    }

    .boton-icono.borrar{
      width: 18px;
      height: 18px;
    }

    .opcion-propiedad .boton-icono.borrar{
      width: 18px;
      height: 18px;
    }

    .boton-icono.add svg{
      width: 18px;
      height: 18px;
      margin-right: 5px;
      margin-bottom: 2px;
    }

    .boton-icono.subir{
      width: 20px;
      height: 20px;
      margin: 0 10px;
    }

    .boton-icono.aceptar{
      width: 25px;
      height: 25px;
      margin: 0 10px;
    }

    .boton-icono.flecha{
      width: 25px;
      height: 25px;
      margin: 5px;
    }




    /* Iconos ---------------------------------------------------------------------- */

    .icono-add{
      padding: 8px;
      right: 45px;
      bottom: 70px;
      width: 40px;
      height: 40px;
      box-shadow: 0px 2px 10px 0 rgba(0, 0, 0, 0.10);
    }

    .icono-estado{
      width: 28px;
      height: 28px;
    }

    .icono-editar{
      width: 18px;
      height: 18px;
      margin-bottom: 2px;
    }
  }




/* MÓVIL -------------------------------------------------------- */

  @media screen and (max-width:400px){

    /* Tag ------------------------------------------------------------------------- */
    .tag{
      padding: 2px 10px 3px;
    }



    /* Botones --------------------------------------------------------------------- */

    .boton{
      margin-left: 15px;
    }

    .boton.submit{
      padding: 5px 10px;
    }

    .boton.editar{
      padding: 5px 10px;
    }
    .boton.editar svg{
      margin-right: 2px;
      width: 18px;
      height: 18px;
    }

    .boton-icono.cerrar{
      width: 25px;
      height: 25px;
    }

    .boton-icono.borrar{
      width: 18px;
      height: 18px;
    }

    .opcion-propiedad .boton-icono.borrar{
      width: 18px;
      height: 18px;
    }

    .boton-icono.add svg{
      width: 18px;
      height: 18px;
      margin-right: 5px;
      margin-bottom: 2px;
    }

    .boton-icono.subir{
      width: 20px;
      height: 20px;
      margin: 0 10px;
    }

    .boton-icono.aceptar{
      width: 25px;
      height: 25px;
      margin: 0 10px;
    }

    .boton-icono.flecha{
      width: 25px;
      height: 25px;
      margin: 5px;
    }




    /* Iconos ---------------------------------------------------------------------- */

    .icono-add{
      padding: 5px;
      right: 30px;
      bottom: 70px;
      width: 35px;
      height: 35px;
      box-shadow: 0px 2px 10px 0 rgba(0, 0, 0, 0.10);
    }

    .icono-estado{
      width: 24px;
      height: 24px;   
    }

    .icono-editar{
      margin: 0;
      width: 18px;
      height: 18px;
    }
  }