/* SECCION PRODUCTOS */

.contenedor-tabla{
    overflow-x: scroll;
}

.tabla-productos{
    width: 200%;
    display: grid;
    grid-template-columns: repeat(10,auto);
    width: fit-content;
}

.tabla-productos{
    margin-top: -1px;
    border-left: 1px solid white;
    border-right: 1px solid white;
}

.tabla-productos.headings{
    border-top: 1px solid white;
    z-index: 2;
}

.tabla-productos.contenido-tabla:last-child{
    border-bottom: 1px solid white;
}

.tab-frecuencia{
    left: 0;
    position: sticky;
    display: flex;
    align-items: flex-end;
}

.tab-actual{
    color: white;
    border: 1px solid rgb(255, 255, 255);
    border-bottom: none;
    background-color: rgb(41, 47, 72);
    animation-name: tab-change-up;
    animation-duration: 0.3s;
}

.tab-oculta{
    color: rgba(255, 255, 255, 0.5);
    animation-name: tab-change-down;
    animation-duration: 0.3s;
    background-color: rgb(24, 28, 42);
}






/* MEDIA QUERIES ------------------------------------------------------------------------------------------------------ */

/* PANTALLA PEQUEÑA ------------------------------------------------------------------- */

    @media screen and (min-width:781px){

        .seccion-productos{
            margin: auto;
            max-width: 1400px;
            padding: 0 60px 0 80px;
        }

        .contenedor-tabla{
            padding-bottom: 5px;
        }
        
        .tab-frecuencia{
            height: 35px;
        }

        .tab-frecuencia div{
            padding: 10px;
            border-top-right-radius: 10px;
            border-top-left-radius: 10px;
        }



        /* Animación tabs --------------------------------- */

        .tab-actual{
            height: 35px;
        }

        .tab-oculta{
            height: 30px;
            margin-bottom: 2px;
        }

        @keyframes tab-change-up {
            from{
                margin-bottom: 2px;
                height: 30px;
            }
            to{
                margin-bottom: 0;
                height: 35px;
            }
        }
        
        @keyframes tab-change-down {
            from{
                margin-bottom: 0;
                height: 35px;
            }
            to{
                margin-bottom: 2px;
                height: 30px;
            }
        }
    }




/* TABLET ------------------------------------------------------------------- */

    @media screen and (max-width:781px){

        .seccion-productos{
            margin: 40px 20px 0;
        }

        .contenedor-tabla{
            padding-bottom: 5px;
        }
        
        .tab-frecuencia{
            height: 35px;
        }

        .tab-frecuencia div{
            padding: 10px;
            border-top-right-radius: 10px;
            border-top-left-radius: 10px;
        }



        /* Animación tabs --------------------------------- */

        .tab-actual{
            height: 35px;
        }

        .tab-oculta{
            height: 30px;
            margin-bottom: 2px;
        }

        @keyframes tab-change-up {
            from{
                margin-bottom: 2px;
                height: 30px;
            }
            to{
                margin-bottom: 0;
                height: 35px;
            }
        }
        
        @keyframes tab-change-down {
            from{
                margin-bottom: 0;
                height: 35px;
            }
            to{
                margin-bottom: 2px;
                height: 30px;
            }
        }
    }





/* MOVIL ----------------------------------------------------------------- */

    @media screen and (max-width:400px){

        .seccion-productos{
            min-width: 85%;
            margin: 40px 20px 0;
            padding-bottom: 40px;
        }

        .contenedor-tabla{
            padding-bottom: 5px;
        }
        
        .tab-frecuencia{
            height: 35px;
        }

        .tab-frecuencia div{
            padding: 10px;
            border-top-right-radius: 10px;
            border-top-left-radius: 10px;
        }



        /* Animación tabs --------------------------------- */

        .tab-actual{
            height: 35px;
        }

        .tab-oculta{
            height: 30px;
            margin-bottom: 2px;
        }

        @keyframes tab-change-up {
            from{
                margin-bottom: 2px;
                height: 30px;
            }
            to{
                margin-bottom: 0;
                height: 35px;
            }
        }
        
        @keyframes tab-change-down {
            from{
                margin-bottom: 0;
                height: 35px;
            }
            to{
                margin-bottom: 2px;
                height: 30px;
            }
        }
    }








/* ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------ */





/* PRODUCTOS ROW ----------------------------------------------------------------------------------------------------------- */

.productos-row{
    border: 1px dashed gray;
    background-color: rgb(32, 37, 56);
    display: flex;
    align-items: center;
}

.productos-row.heading{
    background-color: rgb(41, 47, 72);
}

.productos-row h3{
    display: flex;
    align-items: center;
}




/* Producto ------------------------------------------------------------- */

.productos-row.producto{
    border-color: rgb(105, 168, 105);
    left: 0;
    /* box-shadow: 5px 0 10px 5px rgba(0, 0, 0, 0.3); */
}

.productos-cont{
    text-wrap: nowrap;
    overflow-x: hidden;
}



/* Estado ----------------------------------------------------------------- */
.productos-row.estado{
    display: flex;
    justify-content: center;
    align-items: center;
}



/* Precio & Precio Kg --------------------------------------------------------- */

.productos-row.precio{
    border-color: rgb(195, 164, 108);
}

.productos-row.heading.precio{
    display: flex;
    justify-content: center;
}

.productos-row.preciokg{
    border-color: rgb(195, 164, 108);
}

.productos-row.heading.preciokg{
    display: flex;
    justify-content: center;
}



/* Cantidad,max,units -------------------------------------------------------- */

.productos-row.cantidad{
    border-color: rgb(152, 186, 132);
}

.productos-row.single-number{
    border-color: rgb(128, 216, 216);
    display: flex;
    justify-content: center;
}

.productos-row.heading.single-number{
    padding: 0;
}



/* Mercado ------------------------------------------------------------------- */

.productos-row.heading.tagging{
    padding-right: 0;
}

.productos-row.mercado{ 
    border-color: rgb(170, 73, 73);
}

.productos-row.prioridad{
    border-color: rgb(186, 128, 186);
}

.productos-row.tipo{
    border-color: rgb(145, 101, 101);
    overflow: hidden;
}




/* MEDIA QUERIES -------------------------------------------------------------------------------------- */

/* PANTALLA PEQUEÑA -------------------------------------------------------------- */

    @media screen and (min-width:781px){

        .productos-row.heading.tagging .icono-editar{
            margin-left: 5px;
        }

        .productos-row{
            height: 50px;
            padding: 15px;
        }

        .productos-row.heading{
            padding: 15px 20px;
            height: 55px;
        }


        /* Producto ---------------------------------- */
        .productos-row.producto{
            width: 235px;
        }

        /* Estado ------------------------------------ */
        .productos-row.estado{
            width: 100px;
        }

        /* Precio ------------------------------------ */
        .productos-row.precio{
            width: 100px;
        }
        .productos-row.preciokg{
            width: 130px;
        }

        /* Cantidad --------------------------------- */
        .productos-row.cantidad{
            width: 100px;
        }

        /* Units & Max ------------------------------ */
        .productos-row.single-number{
            width: 65px;
        }
        .productos-row.heading.single-number h3{
            margin-top: 5px;
        }

        /* Tags ------------------------------------- */
        .productos-row.mercado{ 
            width: 155px;
        }
        .productos-row.prioridad{
            width: 160px;
        }
        .productos-row.tipo{
            width: 135px;
        }
    }






/* TABLET ----------------------------------------------------- */

    @media screen and (max-width:781px){

        .productos-row.heading.tagging .icono-editar{
            margin-left: 5px;
        }

        .productos-row{
            height: 50px;
            padding: 15px;
        }

        .productos-row.heading{
            height: 55px;
        }


        /* Producto ---------------------------------- */
        .productos-row.producto{
            width: 200px;
        }

        /* Estado ------------------------------------ */
        .productos-row.estado{
            width: 95px;
        }

        /* Precio ------------------------------------ */
        .productos-row.precio{
            width: 90px;
        }
        .productos-row.preciokg{
            width: 110px;
        }

        /* Cantidad --------------------------------- */
        .productos-row.cantidad{
            width: 100px;
        }

        /* Units & Max ------------------------------ */
        .productos-row.single-number{
            width: 50px;
        }
        .productos-row.heading.single-number h3{
            margin-top: 3%;
        }

        /* Tags ------------------------------------- */
        .productos-row.mercado{ 
            width: 150px;
        }
        .productos-row.prioridad{
            width: 155px;
        }
        .productos-row.tipo{
            width: 130px;
        }
    }





/* MÓVIL ------------------------------------------------------------ */

    @media screen and (max-width:400px){

        .productos-row.heading.tagging .icono-editar{
            margin-left: 5px;
        }

        .productos-row{
            height: 50px;
            padding: 15px;

        }

        .productos-row.heading{
            height: 55px;
        }


        /* Producto ---------------------------------- */
        .productos-row.producto{
            width: 180px;
        }

        /* Estado ------------------------------------ */
        .productos-row.estado{
            width: 95px;
        }

        /* Precio ------------------------------------ */
        .productos-row.precio{
            width: 85px;
        }
        .productos-row.preciokg{
            width: 100px;
        }

        /* Cantidad --------------------------------- */
        .productos-row.cantidad{
            width: 100px;
        }

        /* Units & Max ------------------------------ */
        .productos-row.single-number{
            width: 50px;
        }
        .productos-row.heading.single-number h3{
            margin-top: 10px;
        }

        /* Tags ------------------------------------- */
        .productos-row.mercado{ 
            width: 150px;
        }
        .productos-row.prioridad{
            width: 155px;
        }
        .productos-row.tipo{
            width: 130px;
        }
    }








/* --------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */





/* PRODUCTO NUEVO | EDITAR */

.seccion-producto-form{
    height: fit-content;
    background-color: rgb(32, 37, 56);
    box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.25);
}

.item-vacio{ color: rgba(255, 255, 255, 0.25); }
.nombre-item{ color: white; }

.producto-form{
    display: flex;
    flex-direction: column;
}

.producto-form .contenedor-input{
    overflow-y: scroll;
}

.campo-nombre.campo-obligatorio span{
    color: rgb(255, 116, 116);
}

.producto-form div.input{
    position: relative;
}

div.multi-input{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.seccion-botones{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.mostrar-mas{
    display: flex;
    justify-content: center;
}

.gradiente-ocultar{
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0)30%, rgba(0, 0, 0, 0.20) 90%);
}





/* INPUTS -------------------------------------------------------------------------------------------------------------- */

.producto-form input{
    -webkit-appearance: none;
    appearance: none;
}

.estado-input{
    border: 1px solid grey;
}

.error-input{
    border: 1px solid red;
}

.producto-form div.input,select{
    width: 100%;
}



/* Precio  ------------------------------------------------- */

.input-precio{
    display: flex;
    align-items: center;
}
.input-precio input{
    text-align: right;
}
.input-precio input::placeholder{
    text-align: left;
}


/* Cantidad ---------------------------------------------- */

.input-cantidad div{
    display: flex;
}
.input-cantidad input{
    padding-right: 0;
}
.input-cantidad datalist{
    appearance: none;
    -webkit-appearance: none;
}
.input-cantidad input::-webkit-calendar-picker-indicator,datalist::-webkit-calendar-picker-indicator{
    display: none;
}



/* Estado ------------------------------------------------ */

.input-estado{
    display: flex;
    justify-content: center;
    align-items: center;
}
.react-toggle-track{
    background-color: rgb(152, 69, 69);
}
.react-toggle-track-check,.react-toggle-track-x{
    display: flex;
    align-items: center;
}
.react-toggle-track-x{
    justify-content: flex-end;
    width: 15px;
}






/* MEDIA QUERIES --------------------------------------------------------------------------------------------------- */

/* PANTALLA PEQUEÑA ------------------------------------------------------------------------------ */

    @media screen and (min-width:781px){

        /* SECCION FORMULARIO ----------------------------------- */

        .seccion-producto-form{
            width: 410px;
            padding: 60px 50px 50px;
        }

        .producto-form{
            margin-top: 20px;
            max-height: 320px;
        }
        .producto-form.producto-nuevo{
            max-height: 370px;
        }

        .producto-form div.input{
            margin-top: 20px;
            padding-right: 8px;
        }

        .seccion-botones{
            margin-top: 40px;
        }
        
        .seccion-botones.top-botones{
            margin: 0 0 30px;
        }
        
        .mostrar-mas{
            padding: 8px;
        }




        /* INPUTS ----------------------------------------------- */

        .producto-form input:not(input[type="submit"]) ,select{
            padding: 5px 10px;
        }

        /* Producto ----------------------------- */
        .input-item{
            width: calc(100% - 15px);
        }

        /* Precio ------------------------------- */
        .input-precio input{
            width: 110px;
            margin-right: 5px;
        }

        /* Cantidad ------------------------------ */
        .input-cantidad input{
            width: 90px;
            margin-right: 5px;
        }
        .input-cantidad.unidad input{
            width: 65px;
        }

        /* Units & Max ---------------------------- */
        .input-single-cant{
            width: 50px;
        }
        
    }






/* TABLET ----------------------------------------------------------------------- */

    @media screen and (max-width:781px){

        /* SECCION FORMULARIO ----------------------------------- */

        .seccion-producto-form{
            max-width: 380px;
            min-width: 350px;
            min-height: 400px;
            padding: 50px 45px;
        }

        .producto-form{
            margin-top: 20px;
            max-height: 320px;
        }
        .producto-form.producto-nuevo{
            max-height: 370px;
        }

        .producto-form div.input{
            margin-top: 20px;
            padding-right: 5px;
        }

        .seccion-botones{
            margin-top: 30px;
        }
        
        .seccion-botones.top-botones{
            margin: 0 0 30px;
        }
        
        .mostrar-mas{
            padding: 8px;
        }




        /* INPUTS ----------------------------------------------- */

        .producto-form input:not(input[type="submit"]) ,select{
            padding: 5px 10px;
        }

        /* Producto ----------------------------- */
        .input-item{
            width: calc(100% - 15px);
        }

        /* Precio ------------------------------- */
        .input-precio input{
            width: 100px;
            margin-right: 5px;
        }

        /* Cantidad ------------------------------ */
        .input-cantidad input{
            width: 80px;
            margin-right: 5px;
        }
        .input-cantidad.unidad input{
            width: 60px;
        }

        /* Units & Max ---------------------------- */
        .input-single-cant{
            width: 45px;
        }        
        
    }





/* MÓVIL --------------------------------------------------------------------------------- */

    @media screen and (max-width:400px){

        /* SECCION FORMULARIO ----------------------------------- */

        .seccion-producto-form{
            width: calc(100% - 40px);
            padding: 40px;
        }

        .producto-form{
            margin-top: 20px;
            max-height: 430px;
        }
        .producto-form.producto-nuevo{
            max-height: 370px;
        }

        .producto-form div.input{
            margin-top: 20px;
            padding-right: 5px;
        }

        .seccion-botones{
            margin-top: 30px;
        }
        
        .seccion-botones.top-botones{
            margin : 0 0 20px;
        }
        
        .mostrar-mas{
            padding: 5px;
        }




        /* INPUTS ----------------------------------------------- */

        .producto-form input:not(input[type="submit"]) ,select{
            padding: 5px 10px;
        }

        /* Producto ----------------------------- */
        .input-item{
            width: calc(100% - 15px);
        }

        /* Precio ------------------------------- */
        .input-precio input{
            width: 80px;
            margin-right: 2px;
        }

        /* Cantidad ------------------------------ */
        .input-cantidad input{
            width: 70px;
            margin-right: 5px;
        }
        .input-cantidad.unidad input{
            width: 50px;
        }

        /* Units & Max ---------------------------- */
        .input-single-cant{
            width: 40px;
        }        
        
    }








/* _____________________________________________________________________________________________________________________________________________________________________________________________________________________ */






/* RESUMEN ------------------------------------------------------------------------------------------------------------ */

.resumen{
    /* border: 3px solid rgb(77, 87, 128); */
    background-color: rgb(32, 37, 56);
    height: fit-content;
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.50);
}

.resumen div.info-producto{
    justify-content: space-between;
}

.resumen .info-producto.tags{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.resumen-grid{
    display: grid;
}
.resumen-grid.precio{
    grid-template-columns: repeat(3,auto);
}




/* MEDIA QUERIES -------------------------------------------------------------------------------- */

/* PANTALLA PEQUEÑA --------------------------------------------------------------- */

    @media screen and (min-width:781px){
        .resumen{
            width: 400px;
            border-radius: 25px;
            padding: 40px 40px 30px;
        }

        .resumen div.info-producto{
            margin-top: 25px;
        }

        .resumen .info-producto .tag{
            margin-right: 8px;
            margin-bottom: 8px;
        }
    }





/* TABLET --------------------------------------------------------------- */

    @media screen and (max-width:781px){
        .resumen{
            max-width: 370px;
            min-width: 350px;
            border-radius: 25px;
            padding: 30px 35px;
        }

        .resumen div.info-producto{
            margin-top: 20px;
        }

        .resumen .info-producto .tag{
            margin-right: 8px;
            margin-bottom: 8px;
        }
    }





/* MÓVIL --------------------------------------------------------------- */

    @media screen and (max-width:400px){
        .resumen{
            width: calc(100% - 40px);
            border-radius: 10px;
            padding: 20px 30px;
        }

        .resumen div.info-producto{
            margin-top: 20px;
        }

        .resumen .info-producto .tag{
            margin-right: 5px;
            margin-bottom: 5px;
        }
    }









/* ----------------------------------------------------------------------------------------------------------------------------------------------------------------------- */





/* EDITAR PROPIEDAD ------------------------------------------------------------------------------------------ */

.info-propiedad{
    width: 100%;
}

.opcion-propiedad{
    border: 1px solid grey;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;;
}

.info-propiedad.opciones{
    display: flex;
    flex-direction: column;
}

.lista-propiedades{
    height: fit-content;
    overflow: scroll;
}

.add-propiedad{
    margin-top: auto;
}

.opcion-propiedad.add{
    margin-top: auto;
}

.input-propiedad{
    appearance: none;
    -webkit-appearance: none;
    border: 0;
    background-color: rgb(58, 66, 97);
}





/* MEDIA QUERIES ----------------------------------------------------------------------------------- */

/* PANTALLA PEQUEÑA ------------------------------------------------------------------ */

    @media screen and (min-width:781px){

        .info-propiedad{
            margin-top: 25px;
        }

        .opcion-propiedad{
            padding: 15px;
        }

        .info-propiedad.opciones{
            height: 250px;
        }
        
        .no-padding.add{
            padding: 6px 5px 5px;
        }
        .no-padding.editar{
            padding: 9px;
        }

        .input-propiedad{
            border-radius: 25px;
            padding: 10px 15px;
            width: 200px; 
            margin-right: 15px;
        }
        
        .input-propiedad.editar{
            padding: 8px 15px;
        }
        
    }


    


/* TABLET ----------------------------------------------------- */

    @media screen and (max-width:781px){

        .info-propiedad{
            margin-top: 25px;
        }

        .opcion-propiedad{
            padding: 15px;
        }

        .info-propiedad.opciones{
            height: 250px;
        }
        
        .no-padding.add{
            padding: 5px;
        }
        .no-padding.editar{
            padding: 9px;
        }

        .input-propiedad{
            border-radius: 25px;
            padding: 10px 15px;
            width: 200px; 
            margin-right: 15px;
        }
        
        .input-propiedad.editar{
            padding: 8px 15px;
        }
        
    }




    
/* MÓVIL ------------------------------------------------ */

    @media screen and (max-width:400px){
        .info-propiedad{
            margin-top: 20px;
        }

        .opcion-propiedad{
            padding: 15px;
        }

        .info-propiedad.opciones{
            height: 250px;
        }
        
        .no-padding.add{
            padding: 5px;
        }
        .no-padding.editar{
            padding: 9px;
        }

        .input-propiedad{
            border-radius: 25px;
            padding: 10px 15px;
            width: 160px; 
            margin-right: 15px;
        }
        
        .input-propiedad.editar{
            padding: 8px 15px;
        }
        
    }